body
{
    margin: 0px;
}
#main
{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#sidebar
{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}
[id^="choice-"]
{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    transition: all 0.5s ease;
}
[id^="choice-"]:hover
{
    background-color: rgb(193, 255, 255);
    color:rgb(255, 246, 253);
    border-color: (193, 255, 255);
}
h2
{
    cursor: pointer;
}
#blank
{
    width: 5%;
}
#main-container
{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: white;
    padding: 10px;
}
.raw
{
    width: 100%;
    padding: 1px;
}
.raw description
{
    float: left;
}
.raw .crud
{
    float: right;
    cursor: pointer;
}
.raw .crud [id^="delete-"],.raw .crud [id^="modify-"]
{
    transition: all 0.5s ease;
}
.raw .crud [id^="delete-"]:hover,.raw .crud [id^="modify-"]:hover
{
    color:aqua
}
#popup-window
{
    left: 50%;
    top:50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 2px white solid;
    border-radius: 5px;
    z-index: 99999;
    display: none;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}