/*对所有页面的主要容器做边框处理*/
.post,.list,.one-comment,.page-button
{
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
[class^="menu"]
{
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.notice
{
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.top-navigator
{
    border-bottom: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#main-container,[id^="choice-"]
{
    border-bottom: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}