.post,.list,.one-comment
{
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.menu-profile,.menu-tag,.menu-time
{
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.top-navigator
{
    border-bottom: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}