.comment
{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 10%;
}
.comment-box
{
    display: flex;
    width: 100%;
}
.comment-list
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.one-comment
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    padding: 2%;
}
.comment-intel
{
    width: 100%;
}
.comment-content
{
    width: 100%;
    word-break: break-all;
}
textarea
{
    width: 100%;
}