.comment
{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 10%;
}
.comment-box
{
    display: flex;
    width: 100%;
}
.comment-list
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.one-comment
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
    background-color: white;
    border: 3px dashed rgb(172, 203, 230) ;
}
.comment-intel
{
    width: 100%;
}
.comment-content
{
    width: 100%;
    word-break: break-all;
}