/*一些预定义的类名，方便使用。*/
.hidden-link
{
    text-decoration: none;
    color: inherit;
}
.smaller
{
    font-size: smaller;
}
.small
{
    font-size: small;
}
.non-underline
{
    text-decoration: none;
}
.fade-text
{
    opacity: 0.5;
}
 .cursor-default
 {
    cursor: default !important;
 }
 li::marker
 {
    content: none;
 }
 hr
 {
    width: 100%;
    margin: 0;
 }
.moveable-text
{
    display: inline-block !important;
    transition: transform 0.3s ease !important;
}
.moveable-text:hover
{
    transform: translateX(15px) !important;
}
.bold-text
{
    font-weight: bold;
}
image
{
    width: 100%;
    height: 100%;
}