.body{
    background-image: url(../img/简约背景.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header{
    width: auto;
    height: 200px;
}
.title{
    text-align: right;
}
.main{
    border: 0;
    border-spacing: 0;
    padding: 0;
}
.hidden_link{
    text-decoration: none;
    color: inherit;
}
.left_blank{
    text-align: center;
    padding: 30px;
}
.tag_main{
    width: 1160px;
    border: 0;
    padding: 0;
    border-spacing: 0;
}
.tag_top_img{
    background-image: url(../img/post01.gif);
    background-repeat: repeat-x;
    height:8px;
}
.tag_left_img{
    background-image: url(../img/post04.gif);
    background-repeat: repeat-y;
    width: 13px;
}
.tag_middle{
    background-color: white;
    word-break: break-all;
}
.tag{
    text-decoration: none;
}
.tag_right_img{
    background-image: url(../img/post02.gif);
    background-repeat: repeat-y;
    width: 13px;
}
.tag_bottom_img{
    background-image: url(../img/post03.gif);
    background-repeat: repeat-x;
    height:15px;
}
.middle{
    width: 20%;
    visibility: hidden;
}
.right{
    float: right;
    background-color: white;

}
.navigation{
    border: 0;
    padding: 0;
    border-spacing: 0;
    margin-top: -10px;
}
.menu_left_img{
    background-image: url(../img/menuright04.gif);
    background-repeat: repeat-y;
    width: 17px;
}
.menu_right_img{
    background-image: url(../img/menuright02.gif);
    background-repeat: repeat-y;
    width: 20px;
}
.menu{
    width: 150px;
}
.profile_text{
    font-size: small;
    text-align: center;
}
.tag_title{
    font-size: smaller;
    text-align: center;

}
.tag{
    font-size: small;
    text-align: center;
}
.time_title{
    font-size: smaller;
    text-align: center;
}
.time{
    font-size: small;
    text-align: center;
}