.list
{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}
.list-top-img
{
    display: flex; 
    width:100%;
    background-image: url(../img/post01.gif);
    background-repeat: repeat-x;
    margin:0px;
    height: 8px;
}
.list-body
{
    display: flex;
    width: 100%;
}
.list-left-img
{
    display: flex;
    flex:0 0 15px;
    background-image: url(../img/post04.gif);
    background-repeat: repeat-y;
    margin-top: 5px;
}
.list-main
{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.list-raw
{
    width: 90%;
    text-align: center;
}
.list-right-img
{
    display: flex;
    flex: 0 0 13px;
    height: auto;
    background-image: url(../img/post02.gif);
    background-repeat: repeat-y;
    margin-top:5px;
}
.list-bottom-img
{
    display: flex; 
    height: 15px;
    width: 100%;
    background-image: url(../img/post03.gif);
    background-repeat: repeat-x;
}
