.navigator
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
[class^="menu"]
{
    display: flex;
    background-color: white;
    margin-top: 10%;
    flex-direction: column;
    align-items: flex-start;
    padding:5%;
    transition: background-color 0.5s ease,color 0.5s ease, border-color 0.5s ease;
}
/*.menu-top-img
{
    display: flex;
    width: 100%;
    height: 15px;
    background-image: url(/img/menuright01.gif);
}*/
/*.menu-left-img
{
    display: flex;
    flex: 0 0 17px;
    background-image: url(/img/menuright04.gif);
    background-repeat: repeat-y;
    margin-top: -5px;
}*/
.menu-profile
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.tag,.year,.author
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
    margin: 0;
}
li
{
    width: 100%;
}
[class*="-main"]
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
/*.menu-right-img
{
    display: flex;
    flex: 0 0 20px;
    background-image: url(/img/menuright02.gif);
    background-repeat: repeat-y;
    margin-top: -5px;
}*/
/*.menu-bottom-img
{
    display: flex;
    height: 17px;
    width: 100%;
    background-image: url(/img/menuright03.gif);
}*/