.post
{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 2%;
    transition: background-color 0.5s ease,color 0.5s ease, border-color 0.5s ease;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateX(45deg) ;
    animation: tiltAnimation 1.5s ease-in forwards;
}
@keyframes tiltAnimation
{
    0% {transform: perspective(800px) rotateX(45deg) ;}
    50% {transform: perspective(800px) rotateX(-22.5deg) ;}
    100% {transform: perspective(800px) rotateX(0deg) ;}
}
/*.post-top-img
{
    display: flex; 
    width:100%;
    background-image: url(/img/post01.gif);
    background-repeat: repeat-x;
    margin:0px;
    height: 8px;
}*/
.post-body
{
    display: flex;
    width: 100%;
    flex-direction: column;
}
/*.post-left-img
{
    display: flex;
    flex:0 0 15px;
    background-image: url(/img/post04.gif);
    background-repeat: repeat-y;
    margin-top: 5px;
}*/
.post_article
{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.post-title
{
    display: flex; 
    width: 100%;
    justify-content: center;
    font-weight:bold;
    align-items: center;
}
.post-text
{
    display: flex;
    flex: 1;
    width: 100%;
    word-break: break-all;
}
.post-text>.image
{
    float: right;
    order: 999;
}
/*.post-dot
{
    display: flex;
    width: 100%;
    background-image: url(/img/dot.gif);
    background-repeat: repeat-x;
    height: 10px;
}*/
.post-foot
{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
/*.post-right-img
{
    display: flex;
    flex: 0 0 13px;
    height: auto;
    background-image: url(/img/post02.gif);
    background-repeat: repeat-y;
    margin-top:5px;
}*/
/*.post-bottom-img
{
    display: flex; 
    height: 15px;
    width: 100%;
    background-image: url(/img/post03.gif);
    background-repeat: repeat-x;
}*/
.post-blank
{
    height: 20px;
}
.content-left
{
    width: 70%;
}
audio
{
    width: 70%;
    height: 20px;
}
audio::-webkit-media-controls-panel,audio::-webkit-media-controls-time-display
{
    transition: all 0.5s ease;
}
.button-check
{
    opacity: 0;
    z-index: -1;
    float:right
}
.check-box
{
    display: flex;
    align-items: center;
    width:60px;
    height:20px;
    background:rgb(236, 251, 251);
    border-radius: 25px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.check-handler 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(236, 251, 251);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}
.check-handler:before 
{
    content:"中";
    color: black;
    font-weight: 900;
}
.button-check:checked+.check-box 
{
    background: rgb(193, 255, 255);
}
.button-check:checked+.check-box .check-handler 
{
    margin-left: 66%;
    background: rgb(193, 255, 255);
}
.button-check:checked+.check-box .check-handler:before 
{
    content: "母";
    color:black;
}
.post-audio
{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0;
}