.body
{
    margin-top: 0px;
    background-image: url(../img/简约背景.jpg);
}
.main
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3%;
}
.head-left
{
    display:flex;
    height: 200px;
    width: 20%;
}
.head-right
{
    display:flex;
    height: 200px;
    width: 60%;
}
.head-right>.title
{
    text-align: right;
    width: 100%;
}
.content-left
{
    display:flex;
    flex-direction: column;
    width: 70%;
    margin-top: 20%;
}
.content-right
{
    display: flex;
    width: 13%;
    margin-top: 10%;
}
.top-navigator
{
    display: flex;
    justify-content: center;
    margin: 0px;
    height:50px;
    width: 100%;
}
.navbar
{
    display: flex;
    margin: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color:rgb(241, 252, 255);
    justify-content: space-between;
}
.hyperlink
{
    display: flex;
    width: 70%;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}
.button
{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}
.information
{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}