.body
{
    margin-top: 0px;
    background-color: rgb(236, 251, 251);
    transition: background-color 0.5s ease,color 0.5s ease,border-color 0.5s ease;
}
.main
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3%;
}
.head-left
{
    display:flex;
    flex-direction: column;
    height: 200px;
    width: 35%;
    justify-content: center;
}
.notice
{
    display: flex;
    width: 100%;
    padding:2%;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    transition: background-color 0.5s ease,color 0.5s ease, border-color 0.5s ease;
}
.notice span
{
    display: inline-block;
    animation: scrollText 8s linear infinite;
    margin-left: 100%;
}
@keyframes scrollText
{
    0%{transform: translateX(0);}
    100%{transform: translateX(-150%);}
}
.notice span:hover
{
    animation-play-state: paused;
    cursor: pointer;
}
.head-right
{
    display:flex;
    height: 200px;
    width: 60%;
}
.head-right>.title
{
    text-align: right;
    width: 100%;
}
.content-left
{
    display:flex;
    flex-direction: column;
    width: 70%;
    margin-top: 20%;
}
.content-right
{
    display: flex;
    width: 15%;
    margin-top: 10%;
}
.top-navigator
{
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-left: -8px;
    height:50px;
    width: 100%;
    position: fixed;
    background-color:white;
    z-index: 2;
    transition: background-color 0.5s ease,color 0.5s ease, border-color 0.5s ease;
}
.navbar
{
    display: flex;
    margin: 0px;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    overflow:visible;
}
.hyperlink
{
    display: flex;
    width: 70%;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}
.button
{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease,color 0.4s ease,border-color 0.4s ease;
}
.button:hover
{
    background-color: rgb(193, 255, 255);
    color:rgb(255, 246, 253);
    border-color: (193, 255, 255);
}
.information
{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}
.custom-toolbar 
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
}
.toolbar-item 
{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    box-shadow: 0 2px 12px black;
    cursor: pointer;
    transition: background-color 0.2s
}
.toolbar-item i 
{
    display: flex;
    justify-content: center;
    font-style: normal;
    outline: none;
}
.toolbar-item .tooltip 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    background-color: rgb(51,51,51);
    color: white;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    pointer-events: none;
    visibility: hidden;
    transform: translateY(-31px);
    z-index: 9;
}
.toolbar-item .tooltip:after 
{
    position: absolute;
    right: -5px;
    content: "";
    width: 0;
    height: 0;
    margin: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid rgb(51,51,51);
}
.toolbar-item.toolbar-item-toggle 
{
    position: absolute;
    bottom: 0;
}
.toolbar-item:hover
{
    background-color: rgb(193, 255, 255);
}
.tooltip 
{
    visibility: hidden;
    width: 60px;
    background-color: rgb(85,85,85);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-top: -5px;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
}
.toolbar-item:hover .tooltip
{
    visibility: visible;
    opacity: 1;
}
.page-button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.page-button
{
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 3%;
    transition: all 0.5s ease;
    cursor: pointer;
    margin: 0.5%;
}
.buttontip
{
    visibility: hidden;
    width: 60px;
    background-color: rgb(85,85,85);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-top: -60px;
    margin-left: 0px;
    opacity: 0;
    transition: opacity 0.5s;
}
.page-button:hover .buttontip
{
    visibility: visible;
    opacity: 1;
}
.page-button:hover
{
    background-color: rgb(193, 255, 255);
    border-color: rgb(193, 255, 255);
    color:white;
}
